{% extends 'base.html' %} {% block content %}
<!--breadcrumbs start-->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-4">
				<h1>Change Password</h1>
			</div>
		</div>
	</div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="registration-bg">
	<div class="container">
		<form method="post" class="form-signin wow fadeInUp" id="changepass" style="max-width:800px">
			{% csrf_token %}
			<h2 class="form-signin-heading">Change Password</h2>
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
			{% endif %}
			<div class="login-wrap">                    
				<div class="form-group">
					<label for="pwd">New Password</label>
					<input type="password" class="form-control" placeholder="New Password" required autofocus="" name="user_new_password" id="user_new_password">
				</div>
				<div class="form-group">
					<label for="pwd">Confirm Password</label>
					<input type="password" class="form-control" placeholder="Confirm Password" required autofocus="" name="user_confirm_password" id="user_confirm_password">
				</div>
				<div class="form-group" style="text-align:right;">
					<button class="btn btn-lg btn-login btn-block" type="submit" style="width:200px;">Change Password</button>
				</div>
			</div>
			<input type="hidden" name="act" value="change_password">
		</form>
	</div>
 </div>
<!--
<script>
// just for the demos, avoids form submit
jQuery.validator.setDefaults({
  debug: true,
  success: "valid"
});
$( "#changepass" ).validate({
  rules: {
    user_new_password: "required",
    user_confirm_password: {
      equalTo: "#user_new_password"
    }
  }
});
</script>
<style>
.error {
    color: #ff0000;
}
</style>
-->
<!--container end-->
{% endblock content %}
