{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px;">

            <div class="da-slide">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
              <h2>
                <i>SENTIMENT ANALYSIS</i>
                <br>
                <i>OF TWITTER</i>
                <br>
                <i>DATA</i>
              </h2>
              <p>
                <i>Perform sentiment analysis</i>
                <br />
                <i>of twitter data</i>
              </p>
              <a href="#" class="btn btn-info btn-lg da-link">
				  Read more
				</a>
              <div class="da-img">
                <img src="/assets/img/parallax-slider/images/1.png" alt="image01" style="height:300px"/>
              </div>
            </div>
          </div>
        </div>
      </div>


            <div class="da-slide">
            <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>KEEP TRACKS</i>
            <br />
          <i>OF ALL PAST</i>
            <br />
          <i>SENTIMENT'S REPORT</i>
        </h2>
        <p>
          <i>Management of</i>
            <br />
          <i>sentiment analysis history</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/2.png" alt="image01" style="height:300px"/>
        </div>
      </div>
          </div>
        </div>
      </div>


      <div class="da-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>CONFIGURE API'S</i>
            </br>
          <i>FROM UI AND</i>
            </br>
          <i>PERFORM ANALYSIS</i>
        </h2>
        <p>
          <i>UI for managing</i>
          <br />
          <i>twitter api</i>
          <br />
          <i>credentials real time</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/3.png" alt="image01" style="height:300px"/>
        </div>
      </div>
      </div>
      </div>
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Welcome to Twitter Sentiment Analysis Portal
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/parallax-slider/images/front1.png" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Twitter Sentiment Analysis</b>
                </h4>
              </div>
              <p class="text-center">
                A basic task in sentiment analysis is classifying the polarity of a given text at the document, sentence, or feature/aspect level—whether the expressed opinion.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/front2.png" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Configuration Management System</b>
                </h4>
              </div>
              <p class="text-center">
                Sentiment analysis is widely applied to voice of the customer materials such as reviews and survey responses, online and social media.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/front3.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>History of Past Analysis</b>
                </h4>
              </div>
              <p class="text-center">
                Opinion mining (sometimes known as sentiment analysis or emotion AI) refers to the use of natural language processing, text analysis, computational linguistics
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/p3.png" alt="" style="height:335px; width:550px;">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              About Twitter Data Sentiment Analysis
            </h1>
            <hr>
            <p>Opinion mining (sometimes known as sentiment analysis or emotion AI) refers to the use of natural language processing, text analysis, computational linguistics, and biometrics to systematically identify, extract, quantify, and study affective states and subjective information. Sentiment analysis is widely applied to voice of the customer materials such as reviews and survey responses, online and social media, and healthcare materials for applications that range from marketing to customer service to clinical medicine.</p>
            <p>A basic task in sentiment analysis is classifying the polarity of a given text at the document, sentence, or feature/aspect level—whether the expressed opinion in a document, a sentence or an entity feature/aspect is positive, negative, or neutral. Advanced, "beyond polarity" sentiment classification looks, for instance, at emotional states such as "angry", "sad", and "happy".</p>
			      <hr>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->
    <script type="text/javascript" src="/assets/js/parallax-slider/jquery.cslider.js"></script>
	<script type="text/javascript">
		  $(function() {

			$('#da-slider').cslider({
			  autoplay    : true,
			  bgincrement : 100
			});

		  });
	</script>
  {% endblock content %}

